
<html>
<script>
var bascule= 0;
var size = 10;
function minette () {
var x = document.getElementById("minette") ;
// couleur départ= "blue";
//console.log("Lukaté%s", x.innerHTML);
if (bascule==0){
bascule=1;
couleur= "pink";
x.style.color = couleur;
x.innerHTML="Bye bye";
}
else {
bascule=0;
couleur = "green";
x.style.color = couleur;
x.innerHTML="Hello";}
x.style.fontSize = size;
size = size+10;
}
var text;
function minetteout (){
var x = document.getElementById("Hello") ;
text= x.innerHTML;
x.innerHTML= "Hello";
}

function ajoutgirls () {
var list= document.getElementById("l") ;
var entry = document.createElement('li');
entry.appendChild(document.createTextNode("Django girls"));
list.appendChild(entry);


}
</script>

<body>
  <p id="minette" onmouseover="minette ()" onmouseout="minetteout ()">
    <font color="green" size="20">
 Hello
</font>
</p>

<div>
  <p>published: 0/8.04.2017, 14:44</p>
  <h1> <a href="">My first post</a></h1>
  <p> Il dort, quoique le sort fut pour lui bien etrange, </p>
  <br />
  <p> Il vivait, il mourut quand il n eut plus son ange, </p>
  <br />
  <p> La chose simplement d elle meme arriva <p/>
  <br />
  <p> Comme la nuit se fait lorsque le jour s en va. </p>
</div>

{% for post in posts %}
    <div>
        <p>publié: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}


  <br />
  <br />
  <br />
<p id="girls" onmouseover="ajoutgirls ()">
<font color="claret" size="20">
Django girls
</font>
</p>
<ul id="l">
<li>
  <font color= "blue" size="20">
it is
</li>
<li>
<font color= "turquoise" size="20">
great!
</font>
</li>
</ul>
</body>
</html>



<p>
<font color="orange" size="25">
Bye bye!
</font>
</p>
